.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
 
  background-image: url("https: //www.tastingtable.com/img/gallery/why-vegetables-taste-better-from-a-farmers-market-than-a-grocery-store/intro-1659981512.webp");
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  
}

h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 40px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 16px;
}

ol {
  padding-left: 20px;
  margin-bottom: 24px;
}

li {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
}

strong {
  color: #ffffff;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.image-container {
  flex: 1;
  margin-right: 40px;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.text-container {
  flex: 2;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .about-us {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    margin-top: 30px;
  }

  p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  ol {
    margin-bottom: 16px;
  }

  li {
    font-size: 14px;
  }

  .content-container {
    flex-direction: column;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-container {
    flex: 1;
  }
}