@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --accent-color: #9c9a8e;
  --secondary-color: #fafafa;
  --main-color: #ecf8e1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: var(--main-color);
  margin: 20px 50px;
  padding: 30px;
  width: 410px;
  height: 440px;
  box-shadow: 0px 5px 15px 2px var(--main-color);
}

.login-heading {
  color: var(--accent-color);
  margin: 30px 0 50px 0;
}

.login-input {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  outline: none;
  color: var(--accent-color);
  transition: all 500ms ease-out;
}

.login-input:focus {
  border: 2px solid var(--accent-color);
  background: #fff;
}

.login-button {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
  background: yellow;
  margin: 40px 15px 20px 15px;
  color: #0D971C;
  transition: all 500ms ease-out;
  animation: lights 4000ms infinite ease-in;
  border: 0;
}

.login-button:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 0px 10px 2px var(--secondary-color);
  animation: none;
}

@keyframes lights {
  0% {
    box-shadow: 0px 0px 5px 2px var(--secondary-color);
  }

  50% {
    box-shadow: 0px 0px 5px 2px var(--accent-color);
  }

  
  70% {
    box-shadow: 0px 0px 5px 2px #64896A;
  }

  100% {
    box-shadow: 0px 0px 5px 2px var(--secondary-color);
  }
}

.login-link {
  color: rgb(3, 53, 2);
  text-decoration: none;
  font-size:350%;
  font-weight: bolder;
  
  transition: all 300ms ease-in-out;
}

.login-link:hover {
  opacity: 0.9;
}