@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");




html {
  font-size: 32.5%;

  
}
body{
  overflow-y: auto;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.meal-attribute{
  display: flex;
    align-items: center;
    justify-content: center;
}
.container {
  font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    
    color: #ad3838;
  /* 1140px */
  max-width: 130rem;
  padding: 0 1.2rem;
  margin-top: 73px;
}

.grid {
  display: grid;
  column-gap: 3.4rem;
  
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.margin-right-md {
  margin-bottom: 3.8rem !important;
}

strong {
  font-weight: 500;
}


.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transform: scale(0.8);
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(167, 154, 154, 0.06);
}

.meal-content {
  padding: 1.2rem 4.8rem 1.8rem 4.8rem;

}

.meal-tags {
  
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}
.meal-title {
  text-align: center;
}
.meal-title {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-icon {
  
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
  height: 224.15px;
  object-fit: cover;
}

.button-33 {
  background-color: #f5f5f5;
  border-radius: 60px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(8, 125, 33);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

