

#controls {
  text-align: center;
  padding-bottom: 20px;
}





.shopping-cart {
  display: inline-block;
  min-width: 140px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px darkgrey;
  background-color: white;
  text-align: center;
}

#badge {
  height: 10px;
  width: 10px;
  background-color: #21c999;
  color: rgb(20, 3, 3);
  font-size: 40px;
  position: relative;
  transform: rotate(-50deg);
  border-radius: 20px;
  top: 45px;
  left: 120px;
  padding: 10px;
  z-index: 0;
  text-align: center;
  font-family: Arial;
}

.shopping-cart-icon {
  font-size: 150px;
  opacity: 1;
  z-index: -20;
  color: rgb(218, 30, 30);
  position: relative;
}