#basket {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.meal-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}


.item-details {
  flex-grow: 1;
}

.item-name {
  font-weight: bold;
}

.item-quantity {
  color: #888;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #d32f2f;
}
.fa-trash {
  font-size: 1.5em;
  cursor: pointer;
}

.fa-trash:hover {
  color: rgb(180, 220, 220);
}